<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kelas</title>
</head>
<body>
  <h1>Home kelas</h1>
  <a href="{{route('/home')}}">home</a><br>
  <a href="/about">about us</a><br>
  <a href="/contact">contact us</a><br>
  <a href="/kelas">test loop kelas</a><br>
  <a href="/contact/get_started">contact us get-started</a><br>
  <a href="/contact/get_quote">contact us get-quote</a><br>
  <br>
  <br>
  <ul>
    @each(item in dataKelas)
      <li>{{item.name}}</li>
    @endeach
  </ul>
</body>
</html>