@layout('layouts/main')

@section('title')
  Home Page
@endsection

@section('body')
  <h1>Home kelas = {{user.kelas}}</h1>
  <a href="{{route('/home')}}">home</a><br>
  <a href="/about">about us</a><br>
  <a href="/contact">contact us</a><br>
  <a href="/kelas">test loop kelas</a><br>
  <a href="/contact/get_started">contact us get-started</a><br>
  <a href="/contact/get_quote">contact us get-quote</a><br>
@endsection
